@model DemoApplication.Models.CustomerSuperAdmin

@{
    ViewBag.Title = "Details";
}



<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <label>Registration date:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PanNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PanNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>

        <dt>
           <label> Nature of Work</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingArea)
        </dd>

        <dt>
            <label>Objectives:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NatureOfWork)
        </dd>




        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            <img src=@Model.Logo height="100" width="100">

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PpsizePhoto)
        </dt>

        <dd>
            <img src=@Model.PpsizePhoto height="100" width="100">

        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id },new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index",null,new{ @class = "btn btn-primary"})
</p>

@section Nav{

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="@Url.Action("Index","DashBoard")"><i class="fa fa-tachometer-alt"></i> Dashboard</a>
                </li>

                <li>
                    <a href="@Url.Action("Index","CustomerSuperAdmins")"><i class="fa fa-users"></i> View Customer</a>

                    <!-- /.nav-second-level -->
                </li>


                <li>
                    <a href="@Url.Action("Logout","Account")"><i class="fa fa-sign-out-alt"></i>Logout</a>
                </li>


            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
}