@model IEnumerable<DemoApplication.Models.CustomerSuperAdmin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered" id="mytable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Categoty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PpsizePhoto)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisterDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerType)
                </td>



                <td>
                    <img src=@item.Logo height="50" width="50">
                </td>
                <td>
                    <img src=@item.PpsizePhoto height="50" width="50">
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <link rel=" stylesheet" href="~/Content/DataTables/css/jquery.dataTables.yadcf.css" />

    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/datatables/jquery.dataTables.js"></script>
    <script src="~/Scripts/datatables/dataTables.bootstrap.js">
    </script>

    <script src="~/Scripts/datatables/bootstrap3-typeahead.js"></script>

    <script src="~/Scripts/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/DataTables/css/jquery.dataTables.yadcf.js"></script>
    <link rel=" stylesheet" href="~/Content/DataTables/css/jquery.dataTables.yadcf.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/DataTables/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="~/Content/DataTables/css/dataTables.bootstrap.css" />



    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/datatables/jquery.dataTables.js"></script>
    <script src="~/Scripts/datatables/dataTables.bootstrap.js">
    </script>
    <script src="~/Scripts/datatables/bootstrap3-typeahead.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            var dataSrc = [];

            $("#mytable").DataTable({
                "columnDefs": [
                    {
                        "orderable": false, "targets": [4, 5],


                    }
                ],
                "pageLength": 50,
                "bInfo": false,

                'initComplete': function () {
                    var api = this.api();

                    // Populate a dataset for autocomplete functionality
                    // using data from first, second and third columns
                    api.cells('tr', [0, 1, 2]).every(function () {
                        // Get cell data as plain text
                        var data = $('<div>').html(this.data()).text();
                        if (dataSrc.indexOf(data) === -1) { dataSrc.push(data); }
                    });

                    // Sort dataset alphabetically
                    dataSrc.sort();

                    // Initialize Typeahead plug-in
                    $('.dataTables_filter input[type="search"]}', api.table().container())
                        .typeahead({
                            source: dataSrc,
                            afterSelect: function (value) {
                                api.search(value).draw();
                            }
                        }
                        );
                }
            });
        });
    </script>
}
@section Nav{

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="@Url.Action("Index","DashBoard")"><i class="fa fa-tachometer-alt"></i> Dashboard</a>
                </li>

                <li>
                    <a href="@Url.Action("Index","Customer")"><i class="fa fa-users"></i> View Customer</a>

                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="@Url.Action("Index","SalesMan")"><i class="fa fa-male"></i> View SalesMan</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Service")"><i class="fa fa-route"></i> View Services</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","AreaRegister")"><i class="fas fa-chart-area"></i> View Area Register</a>
                </li>
                <li>
                    <a href="@Url.Action("ActivityLog","DashBoard")"><i class="fa fa-user-secret"></i>Activity Log</a>

                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="@Url.Action("Logout","Account")"><i class="fa fa-sign-out-alt"></i>Logout</a>
                </li>


            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
}
