@model DemoApplication.Models.TradingComplete

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutTrading.cshtml";
}


<div>
    <h4>TradingComplete</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TradingGoods.GoodName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TradingGoods.GoodName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
