@model DemoApplication.Models.AssignPackage

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutTravels.cshtml";
}



<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Package.PackageCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Package.PackageCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssignPackageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
