@model DemoApplication.Models.AssignPackage

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutTravels.cshtml";
}


<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<div>
    <div style="overflow-x:auto;">
        <div class="alert">
            <table class="table table-responsive table-bordered">
                <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Customer.Firstname)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Customer.Firstname)
                </td>

                </tr>
                <tr>
                    <td>
                    @Html.DisplayNameFor(model => model.Package.PackageCode)
                  </td>

                    <td>
                        @Html.DisplayFor(model => model.Package.PackageCode)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.AssignDate)
                    </td>
                

                    <td>
                        @Html.DisplayFor(model => model.AssignDate)
                    </td>
                </tr>

                </table>
            </div>
        </div>
    </div>
        <p>
            <center>
                @Html.ActionLink("Edit", "Edit", new { id = Model.AssignPackageId },new { @class = "btn btn-primary" })
                @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-primary" })
            </center>
        </p>
