@model IEnumerable<DemoApplication.Models.AssignPackage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTravels.cshtml";
}




<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-clock-o fa-fw"></i> Assigned Customer LIST
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Customer.Firstname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Package.PackageCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AssignDate)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customer.Firstname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Package.PackageCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssignDate)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.AssignPackageId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.AssignPackageId }) |

                            </td>
                        </tr>
                    }

                </table>
                <p>
                    @Html.ActionLink("Create New", "Create",null,new { @class = "btn btn-primary" })
                </p>
            </div>
</div>
</div>