@model DemoApplication.Models.Customer
@{
    if (Session["ACategory"].ToString() == "Tour and Travel")
    {
        Layout = "~/Views/Shared/_LayoutTravels.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutTrading.cshtml";

    }
}

<div class="col-lg-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i>Create Customers
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            <label>First Name</label>
                            @Html.TextBoxFor(model => model.Firstname, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            <label>Middle Name</label>
                            @Html.TextBoxFor(model => model.Middlename, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Middlename, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            <label>Last Name</label>
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DOB, new { @class = "control-label col-md-2" })
                            @Html.TextBoxFor(model => model.DOB, new { @class = "form-control", id = "datepicker" })
                            @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.email1, new { @class = "control-label col-md-2" })
                            @Html.TextBoxFor(model => model.email1, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.email1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4 col-mb-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.email2, new { @class = "control-label col-md-2" })
                            @Html.TextBoxFor(model => model.email2, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.email2, "", new { @class = "text-danger" })
                            <br />
                        </div>
                    </div>
                    <div class="col-md-4 col-mb-3">

                        <div class="form-group">

                            @Html.LabelFor(model => model.phone, new { @class = "control-label col-md-2" })
                            @Html.TextBoxFor(model => model.phone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.phone2, new { @class = "control-label col-md-2" })

                            @Html.TextBoxFor(model => model.phone2, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.phone2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            <label>Category</label>
                            @Html.DropDownList("CustomerCategory", new List<SelectListItem> { new SelectListItem { Text = "---Select Category--", Value = "" }, new SelectListItem { Text = "Wholesale", Value = "Wholesale" }, new SelectListItem { Text = "Retail", Value = "Retail" } }, new { @class = "form-control", id = "ddlCustomerType" })

                            @Html.ValidationMessageFor(model => model.CustomerCategory, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            <label>NationalId</label>
                            @Html.TextBoxFor(model => model.NationalIdNo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NationalIdNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.tole, new { @class = "control-label col-md-2" })
                            @Html.TextBoxFor(model => model.tole, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.tole, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.homeno, new { @class = "control-label col-md-2" })
                            @Html.TextBoxFor(model => model.homeno, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.homeno, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.State, new { @class = "control-label col-md-2" })
                            @Html.TextBoxFor(model => model.State, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Country, new { @class = "control-label col-md-2" })
                            @Html.TextBoxFor(model => model.Country, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ZipCode, new { @class = "control-label col-md-2" })
                            @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md col-md-12">
                            <center>
                                <input type="submit" value="Create Customers" class="btn btn-primary" />
                                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                            </center>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>



            @section Scripts {
                <link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.css">
                <link rel="stylesheet" href="~/Scripts/nepali.datepicker.v2.2.min.css">

                <link rel="stylesheet" href="/resources/demos/style.css">
                <script src="~/Scripts/jquery-1.10.2.js"></script>
                <script src="~/Scripts/nepali.datepicker.v2.2.min.js"></script>

                <script src="~/Scripts/jquery-ui-1.12.1/jquery-ui.js"></script>

                <script>
                    $(function () {
                        $("#datepicker").datepicker();
                    });
                </script>
            }
