@model DemoApplication.Models.Customer

@{
    if (Session["ACategory"].ToString() == "Tour and Travel")
    {
        Layout = "~/Views/Shared/_LayoutTravels.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutTrading.cshtml";

    }
}

<h2>Details</h2>

<dl class="dl-horizontal">
    <dt>
        Name
    </dt>

    <dd>
        @Model.Firstname &nbsp; @Model.Middlename &nbsp;@Model.LastName
    </dd>


    <dt>
        @Html.DisplayNameFor(model => model.DOB)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DOB)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.email1)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.email1)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.email2)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.email2)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.phone)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.phone)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.phone2)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.phone2)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.NationalIdNo)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.NationalIdNo)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.tole)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.tole)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.homeno)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.homeno)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.State)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.State)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Country)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Country)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ZipCode)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ZipCode)
    </dd>


</dl>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>




