@model DemoApplication.Models.Customer

@{
    if (Session["ACategory"].ToString() == "Tour and Travel")
    {
        Layout = "~/Views/Shared/_LayoutTravels.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutTrading.cshtml";

    }
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<div>
    <div style="overflow-x:auto;">
        <div class="alert">
            <table class="table table-responsive table-bordered">
                <tr>

                    <td>
                        Name
                    </td>

                    <td>
                        @Model.Firstname &nbsp; @Model.Middlename &nbsp;@Model.LastName
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.DOB)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.DOB)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.email1)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.email1)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.email2)
                    </td>
               
                    <td>
                        @Html.DisplayFor(model => model.email2)
                    </td>
                </tr>
<tr>
                <td>
                    @Html.DisplayNameFor(model => model.phone)
                </td>
                    <td>
                        @Html.DisplayFor(model => model.phone)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.phone2)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.phone2)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.NationalIdNo)
                    </td>


                    <td>
                        @Html.DisplayFor(model => model.NationalIdNo)
                    </td>
                </tr>
                <tr>
                    <td>

                        @Html.DisplayNameFor(model => model.tole)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.tole)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.homeno)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.homeno)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.State)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.State)
                    </td>
                </tr>
                <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Country)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Country)
                </td>

                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.ZipCode)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.ZipCode)
                    </td>


            </table>
            </div>
        </div>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                    </p>




