@model IEnumerable<Newspaper.Models.ActivityLog>

@{
    Layout = "~/Views/Shared/_LayoutTrading.cshtml";

}



<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Operation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Operation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>

        </tr>
    }

</table>
