@model DemoApplication.Models.TradingGoods

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TradingGoods</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GoodId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoodName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thumbail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thumbail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WholesaleRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WholesaleRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoupenCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoupenCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditedDate)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
@section Nav{

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="@Url.Action("Index","DashBoard")"><i class="fa fa-tachometer-alt"></i> Dashboard</a>
                </li>

                <li>
                    <a href="@Url.Action("Index","TradingGoods")"><i class="fa fa-users"></i> Create Goods</a>

                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="@Url.Action("Index","Customers")"><i class="fa fa-male"></i>Create Costumer</a>
                </li>

                <li>
                    <a href="@Url.Action("ActivityLog","TradingGoods")"><i class="fa fa-user-secret"></i>Activity Log</a>

                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="@Url.Action("Logout","Account")"><i class="fa fa-sign-out-alt"></i>Logout</a>
                </li>


            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
}
