@model IEnumerable<DemoApplication.Models.TradingGoods>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GoodId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoodName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LongDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thumbail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WholesaleRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoupenCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditedDate)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GoodId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thumbail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WholesaleRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoupenCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditedDate)
            </td>
    
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@section Nav{

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="@Url.Action("Index","DashBoard")"><i class="fa fa-tachometer-alt"></i> Dashboard</a>
                </li>

                <li>
                    <a href="@Url.Action("Index","Customer")"><i class="fa fa-users"></i> View Customer</a>

                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="@Url.Action("Index","SalesMan")"><i class="fa fa-male"></i> View SalesMan</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Service")"><i class="fa fa-route"></i> View Services</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","AreaRegister")"><i class="fas fa-chart-area"></i> View Area Register</a>
                </li>
                <li>
                    <a href="@Url.Action("ActivityLog","DashBoard")"><i class="fa fa-user-secret"></i>Activity Log</a>

                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="@Url.Action("Logout","Account")"><i class="fa fa-sign-out-alt"></i>Logout</a>
                </li>


            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
}
