
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_LayoutTrading.cshtml";
}


@model DemoApplication.Models.CustomerSuperAdmin

@{
    ViewBag.Title = "Details";
}
<style>
    table {
        border-collapse: collapse;
        witdh: 100%;
        border: 1px solid #tdd;
    }

    th, td {
        text-align: left;
        patding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<div>
    <div style="overflow-x:auto;">
        <div class="alert">
            <table class="table table-responsive table-bordered">
                <tr>
                    <td colspan="2">
                        <center>
                            @if (Model.Logo != null)
                            {

                                <img src=@Model.Logo height="100" witdh="100">
                            }
                            else
                            {
                                <img src=@Model.PpsizePhoto height="100" witdh="100">

                            }
                        </center>
                    </td>
                    
                </tr>
                       
                


                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Registration date:</label>
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.RegisterDate)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Categoty)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Categoty)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.email1)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.email1)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.email2)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.email2)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Phone1)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Phone1)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.PanNo)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.PanNo)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.URL)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.URL)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.CustomerType)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.CustomerType)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Detail)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Detail)
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> Nature of Work</label>
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.WorkingArea)
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Objectives:</label>
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.NatureOfWork)
                    </td>
                </tr>





            </table>
        </div>

    </div>
   

    