@model DemoApplication.Models.Tickets

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutTravels.cshtml";
}


<style>
    table {
        border-collapse: collapse;
        witdh: 100%;
        border: 1px solid #ttd;
    }

    th, td {
        text-align: left;
        patding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<div>
    <div style="overflow-x:auto;">
        <div class="alert">
            <table class="table table-responsive table-bordered">


                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.CostumerName)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.CostumerName)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.DOB)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.DOB)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Category)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Category)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.From)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.From)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.TO)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.TO)
                    </td>
                </tr>
                <tr>
                    <td>
                       Departure Date
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.DepartureDate)
                    </td>
                </tr>
                <tr>
                    <td>
                        Departure Time
                    </td>

                    <td>
                       @Model.DepartureTime
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.ReturnDate)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.ReturnDate)
                    </td>
                </tr>
                <tr>
                    <td>
                       Return Time
                    </td>
                    <td>
                        @Model.ReturnTime
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.NoOfPersons)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.NoOfPersons)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Nationality)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Nationality)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.TotalCost)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.TotalCost)
                    </td>
                </tr>
                </table>
</div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })


        </p>
